body{
	background: black;
	display: flex;
	justify-content: center;
}

#cnvs{
	display: block;
}

p{
	color: white;
	font-size: 30px;
	margin: 0;
}

#controls{
	text-align:center;
}

button{
	background: white;
	font-size: 25px;
	border-radius: 4px;
	margin: 10px;
}
